
.header__button {
    background-color: transparent;
    color: teal;
    transition: 1s;
    font-size: 17px;
    border: none;
}
    
.header__button:hover {
    color: hsl(180, 100%, 45%);
 }
    
.header__button:disabled {
    color: #aaa;
}
